

@model  norte.equipo5.Data.Model.Product

@{
    ViewBag.Title = "Editar Producto";
}

<div class="post">
    <h2 class="title"><a href="#"> Editar Producto</a></h2>
    <p class="byline">
        <h4>Producto </h4>
    </p>
    <div>
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <div class="form-horizontal">

            <hr />
            <span class="text-danger">@ViewBag.MessageDanger</span>

            @Html.HiddenFor(model => model.Id)

            <div class="contactColumn">
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.ArtistId, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.DropDownList("ArtistId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ArtistId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.QuantitySold, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.EditorFor(model => model.QuantitySold, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuantitySold, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(model => model.AvgStars, htmlAttributes: new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(model => model.AvgStars, new { htmlAttributes = new { @class = "form-control" }, @type = "number", min = "0", max = "5" })

                        @Html.ValidationMessageFor(model => model.AvgStars, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />
            <div class="imageColumn">

                <div class="form-group">
                    <label class="control-label">Image actual: @Model.Image</label>

                    <div>
                        <img width="200" src="~/Content/Products/@Model.Image" alt="Imagen del producto.@Model.Image" class="form-control" title="@Model.Image" />
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <div>
                        @Html.TextBox("file", null, new { type = "file" })
                    </div>
                </div>


                <br />
                <hr />
                <br />
                <div>

                    <input type="submit" value="Guardar" class="btn-input" id="saveButton" />
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn-input" })
                </div>
            </div>

            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.CreatedBy)
        </div>
        }
    </div>

</div>

