@model IEnumerable<norte.equipo5.Data.Model.Product>
@{
    ViewBag.Title = "Productos";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="post">
    <h2 class="title"><a href="#"> Lista de Productos</a></h2>
    <p class="byline">Hay un total de @Enumerable.Count(Model) Productos</p>
    <p>
        <a href="/Product/Create" class="btn-input">Nuevo Producto</a>
    </p>

    <div>
        <table class="table">
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Artist.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvgStars)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>

                        @Html.DisplayFor(modelItem => item.Artist.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <img src="~/Content/Products/@Html.DisplayFor(modelItem => item.Image)" class="form-control" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvgStars)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>

</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $(".table tr").not(':first').each(function () {

                var value = Math.round(parseFloat($(this).find("td:nth-child(6)").html()));

                if (value >= 5) {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating five'></span>");
                }
                else if (value == 4) {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating four'></span>");
                }
                else if (value == 3) {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating three'></span>");
                }
                else if (value == 2) {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating two'></span>");
                }
                else if (value == 1) {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating one'></span>");
                }
                else {
                    $(this).find("td:nth-child(6)").html("<span class='star-rating none'></span>");
                }
            });
        });
    </script>

}