
@model IEnumerable<norte.equipo5.Data.Model.Artist>
@{
    ViewBag.Title = "Artistas";
}


    <div class="post">
        <h2 class="title"><a href="#"> Lista de Artista</a></h2>
        <p class="byline">Hay un total de @Enumerable.Count(Model) Artistas</p>
        <p>
            <a href="/Artist/Create" class="btn-input">Nuevo Artista</a>
        </p>

        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.LifeSpan)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    

                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.LifeSpan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                  

                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>

    </div>