
@model IEnumerable<norte.equipo5.Data.Model.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de productos para comprar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            <img id="carrito" src="~/Content/img/cart.png"/>
        </th>
    </tr>

    @foreach (var item in Model)
    {
      
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Artist.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <img src="~/Content/Products/@Html.DisplayFor(modelItem => item.Image)" class="form-control" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>

    <td>
        @Html.ActionLink("Añadir a carrito", "Buy", new norte.equipo5.Data.Model.Product{ Id =  item.Id,Price=item.Price,Title=item.Title})
    </td>

</tr>
    }

</table>
