@model IEnumerable<norte.equipo5.Data.Model.CartItem>

@{
    ViewBag.Title = "Index";
}

<h2>Carrito de compras</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cart.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cart.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

<p><h1>El total de la compra es $<span id="total"></span></h1></p>
<p>
    Para continuar la compra click @Html.ActionLink("aquí", "checkout")
</p>


    @section scripts{
        <script>
            $(document).ready(function () {
                var total = 0;
                $(".table tr").not(':first').each(function () {
                    var value = parseFloat($(this).find("td:nth-child(3)").html());
                    total = total + value;
                });
                $("#total").text(total);

                localStorage.setItem("total", total);
            })
            
        </script>
    }

